@font-face {
  font-family: "Shadows Into Light";
  src: url(../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/Nunito-Regular.ttf);

  text-decoration: none;
  font-weight: normal;
}

html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: black;
}


section {
  padding: 70px 5%;
  border-bottom: 1px black dotted;
}

section:nth-of-type(even) {
  background-color:  hsla(213 ,0% ,0%, 0.02);
}

h1 {
  font-size: 3.2rem;
  font-family: "Shadows Into Light";
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.1rem;
}

p {
  line-height: 1.4;
}

/* header */

header {
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(170, 11%, 31%, 0.9);
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
}

header img {
  max-width: 40px;
  max-height: 40px;
  margin-left: 1%;
}

header nav {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin-right: 1.5rem;
}

header nav a {
  font-family: 'Shadows Into Light',Roboto, Geneva, Tahoma, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: normal;
}

@media screen and (max-width: 1075px) {

  header nav a{
    font-size: 1.5rem;
  }


}


@media screen and (max-width: 685px) {
  header nav a{
    font-size: 1rem;
  }
}
  
  @media screen and (max-width: 430px) {

    header nav {
      display: none;
    }
  

   
}




/* main section */

main {
  position: relative;
  top: 70px;
  background-color:  hsla(213 ,42% ,31%, 0.1);
}

/* banner */
.banner {
  width: 90%;
  height: 710px;

  background-image: url(../images/michele-bitetto-2y6ojwauKJI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .banner-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 850px;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

.banner h1 {
  position: relative;

  color: white;

  z-index: 1;
}

/* about */

.about p {
  margin-top: 5%;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

/* Skills */

.skills {
  overflow: hidden;
}

.skills .skills-icons {
  width: 100%;
  margin: 5% 0 0 1%;
  display: grid;
  grid-template: 50px / repeat(6, 1fr 2fr);

  align-items: center;
  grid-row-gap: 3%;
  font-family: "Nunito", sans-serif;
  grid-auto-flow: row;
  grid-auto-rows: 60px;
}

.skills .skills-icons i {
  margin-left: 5%;
}

.skills .skills-icons .skill-icon {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1130px) {
  .skills .skills-icons {
    grid-template-columns: repeat(4, 1fr 2fr);
  }
}

@media screen and (max-width: 870px) {
  .skills .skills-icons {
    grid-template-columns: repeat(2, 1fr 2fr);
  }
}

@media screen and (max-width: 330px) {
  .skills .skills-icons {
    grid-template-columns: 1fr 2fr;
  }
}

/* projects section */

/* projects navbar */

.projects .projects-grid {


width:40%;
height: 400px;

display: grid;

grid-template-columns: 1fr;

grid-template-rows: 0.75fr 6fr;


margin: 1.5rem auto 0;
grid-gap: 0;















}

.projects nav {
  
  display: flex;
 
  justify-content: flex-start;
  grid-area: 1 / 1 / 2 / 2;

 

  
}

.projects .projects-navbar-toggle{

border:none;
background-color: none;


}

.projects nav .project-toggle {

  
  border:none;
  border-left: 1px solid white;
  
  cursor: pointer;
  

  background-color: none;
  
}


@media screen and (max-width: 1315px) {

  .projects nav .project-toggle {

    font-size: 0.9rem;
    


  }

  
}



.projects .description-container {
  
  display: flex;
  align-items: center;

  
}


.projects .description-container::-webkit-scrollbar{

width: 4px;
height: 4px;

}




.projects .description-container::-webkit-scrollbar-track {
  background-color: hsla(200 ,50% ,0%, 0.2);
  border-radius: 4px;
}
 
.projects .description-container::-webkit-scrollbar-thumb {
  
background-color:hsla(200 ,50% ,10%, 0.5);
border-radius: 4px;

}





.projects .description-container p {
  display: none;
  padding: 2%;
  grid-area: 2 / 1 / 2 / 3;

  
 
}



@media  screen and (max-width:445px) {

  .projects .description-container p {

    font-size: 1rem;


  }

  
}

@media  screen and (max-width:445px) {



  
}
